input[type="range"] {
  -webkit-appearance: none;
  /*appearance: none;*/
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    width: 200px;
    height: 10px;
    border: 1px solid #ffffff65;
    border-radius: 5px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Сбрасываем вид по умолчанию */
    appearance: none;
    margin-top: -2px; /* Центрируем ползунок на дорожке */
    background-color: #fff;
    height: 12px;
    width: 10px;
    border-radius: 50%;
  }

  &::-moz-range-track {
    width: 200px;
    height: 10px;
    border: 1px solid #ffffff65;
    border-radius: 5px;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    border: none; /* Удаляем лишнюю рамку, которую добавляет FF */
    border-radius: 0; /* Удаляем скругление углов по умолчанию */
    /*background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;*/
  }
}

.volume_container {
  display: flex;

  input {
    width: 120px;
  }
}

.volume_icon {
  margin-right: 10px;
}

