.album_item {
  display: flex;
  margin: 2px;
  padding: 15px;
  min-width: 500px;
}

.album_info_box {
  margin: 0 0 0 15px;
}

.album_cover {
  height: 170px;
  width: 170px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
}

.album_ifo li{
  padding: 7px;
  font-size: 16px;
}

.playlist {
  position: relative;
  display: block;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-style: solid;
    border-width: 9px 6px 0 9px;
    border-color: white transparent transparent transparent;
    transition: 0.5s;
  }
}

.playlist_input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.playlist_input:checked ~ .playlist_items {
  max-height: 1000px;
  transition: all 2s;
}

.playlist_input:checked ~ .playlist:after {
  border-style: solid;
  border-width: 0 6px 9px 6px;
  border-color: transparent transparent white transparent;
  transition: 0.5s;
}

.playlist_items {
  max-height: 0;
  padding-top: 7px;
  overflow: hidden;
  transition: all 0.7s;
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 400px;
    transition: all 2s;
    cursor: pointer;
    span {
      display: block;
      color: white;
    }
  }
}