/* === nav ===*/

.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 30px;
}

.menu_items {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.menu_item {
  margin: 0 30px 0 0;
}

.menu_login {
  cursor: pointer;
  margin: 0 30px 0 0;
  z-index: 10;
}

.menu_item .active {
  font-weight: 900;
}

.menu_item a {
  font-size: 16px;
  color: var(--font-light);
  text-shadow: 1px 0 5px #474747, 0 1px 5px #474747, -1px 0 5px #474747,
  0 -1px 5px #474747;
}

.logo_icon {
  font-size: 16px;
  color: var(--font-light);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
  padding: 6px;
  margin: 0 30px;
  border-radius: 30px;
}

.search_icon {
  font-size: 16px;
  margin: 0 5px 0 0;
  color: var(--font-light);
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user_box {
  background: #00000080;
  border-radius: 30px;
  padding: 5px;
}

.user_icon {
  font-size: 10px;
  margin-top: 5px;
  color: var(--font-light);
}

.user img {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  border-radius: 50%;
}
