.player {
  position: relative;
  grid-area: p;
  padding: 20px 20px;
  background-color: var(--bg-color);
  max-height: calc(100vh - 20px);
}

.nav_player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_right_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav_player_item_link {
  transition: 0.5s;
  cursor: pointer;
}

.disc_icon,
.download_icon,
.fullscreen_icon {
  font-size: 30px;
  padding: 7px;
  margin: 0 7px 0 0;
  background-color: gray;
  color: var(--font-light);
  border-radius: 50%;
}

.nav_player_item_link:hover {
  opacity: 0.7;
}

.nav_player_left_items .nav_player_item_link:first-child {
  display: flex;
  align-items: center;
  background-color: gray;
  border-radius: 30px;
}

.icon_text {
  margin-right: 19px;
  font-size: 12px;
  color: var(--font-light);
}

.main_player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-light);

  &_status {
    font-size: 24px;
    margin: 50px auto 40px;
  }

  &_info {
    margin: 40px auto;
    text-align: center;

    &_track {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &_artist {
      font-size: 14px;
      color: #919191;
    }
  }

}

.main_player_progress {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-light);
  margin: 0 10px 30px;
}

.start, .finish {
  min-width: 40px;
  text-align: center;
}

/*.progress_bar {
  position: relative;
  background-color: #ffffff;
  width: 35px;
  height: 5px;
  margin: 0 10px;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff65;
    border-radius: 5px;
    width: 90%;
    height: 5px;
    z-index: 1;
  }
}*/

.progress_container {
  display: flex;
  align-items: center;
  border-radius: 5px;

  width: 200px;
  height: 10px;
  border: 1px solid #ffffff65;
  cursor: pointer;

  .progress_bar {
    background: #fff;
    border-radius: 5px;
    height: 4px;
    margin: 0 2px;
  }
}

.main_player_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  div {
    color: var(--font-light);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.play_icon {
  font-size: 60px;
}

.repeat_icon,
.playlist_icon {
  font-size: 18px;
}

.rewind_icon,
.forward_icon {
  font-size: 30px;
}

.main_player_controls div:not(:last-child) {
  margin-right: 20px;
}

.main_player_tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 20px;


}
